<section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <%= image_tag "about/me.jpg", class: "img-circle img-responsive" %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sabina Shrestha</h4>
                                    <h4 class="subheading">Aspire to be Developer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Hi. I am Sabina Shrestha. I am from Nepal. It is a small mountaneous country. Which lies in between India and China. Nepal is famous for Himalayas! </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <%= image_tag "about/2.jpg", class: "img-circle img-responsive" %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>USA</h4>
                                    <h4 class="subheading">Salt Lake City, UT</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I moved to The United States of America on December 2014. Since then I have been living in Salt Lake City,UT. I love mountains. My hometown, Kathmandu, where I used to live before, is surrounded by mountains. So does Salt Lake City. I enjoy living here!   </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <%= image_tag "about/3.jpg", class: "img-circle img-responsive"  %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Computer Skills</h4>
                                    <h4 class="subheading">Student at DevPointLabs</h4>
                                </div>
                                <div class="timeline-body" align="right">
                                    <table class="text-muted">
                                        <tr><td>HTML</td></tr>
                                        <tr><td>CSS</td></tr>
                                        <tr><td>JavaScript</td></tr>
                                        <tr><td>CoffeeScript</td></tr>
                                        <tr><td>JQuery</td></tr> 
                                        <tr><td>Ajax</td></tr>
                                        <tr><td>HAML</td></tr>
                                        <tr><td>Ruby On Rails</td></tr>
                                        <tr><td>GitHub</td></tr>
                                        <tr><td>PhotoShop</td></tr>                       
                                    </table>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                 <%= image_tag "about/study.png", class: "img-circle img-responsive"  %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>EDUCATION</h4>
                                    <h4 class="subheading">Full-Stack Web Development</h4>
                                </div>
                                <div class="timeline-body">
                                   <p class="text-muted">
                                    From DevPointLabs (Summer 2015)<br>Subject Studied: &nbsp;Ruby On Rails, HTML, CSS, JavaScript, CoffeeScript, HAML, Ajax, GitHub
                                   </p>
                                    <br>
                                    <br>
                                    <h4> Bachelor in Business Studies(BBS)</h4>
                                    <p class="text-muted"> From Tribhuvan   University (2011-2014).
                                        <br>
                                    Subjects Studied:&nbsp; Corporate Finance, Accounting, Business Law, Financial Investment, Human Resource Management.
                                    </p> 
                                   </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <div style="margin-top: 35%;">
                                    <a href="mailto:s.sabina110@gmail.com" style="color: white;" >
                                    <!-- <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s">
                                    </i> -->
                                   <h4> Contact</h4>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
    </section>

    