<section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Wanna know me? Here is my story.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <%= image_tag "about/me.jpg", class: "img-circle img-responsive" %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sabina Shrestha</h4>
                                    <h4 class="subheading">Dream to be Developer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Hi I am Sabina. I went to Herald International College at Kathmandu, Nepal and earned graduate degree in BBS (Bachelor in Business Studies) on academic year 2014/15. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <%= image_tag "about/next.jpeg", class: "img-circle img-responsive" %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>America</h4>
                                    <h4 class="subheading">Salt Lake City, UT</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I currently live in Salt lake City, Utah. I came here on December 2014 from Nepal. I am now permanent resident of America.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <%= image_tag "about/3.jpg", class: "img-circle img-responsive"  %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Computer Skills</h4>
                                    <h4 class="subheading">Student at DevPointLabs</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I am learning Ruby on Rails at Devpointlabs. Ruby on Rails makes so easy to develop websites. Rails provides environment that makes programing so easy. I love to use Rails. I learned so many things about programing and programing languages at Devpointlabs. I know HTML, CSS, Javascrip, Coffeescript, and some other languages. I did graphic design course in Nepal, that course include Adobe photoshop, Page Maker, Freehand and CoralDraw. I like colors and designs. I always add designs and color on my websites.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    