<section id="home" data-type="background" data-speed="10">
  <article><%= image_tag "gallery/friends.jpg", height: '500', width: '600'%>I am absolute positioned</article>
</section> 

<section id="home" data-type="background" data-speed="10" float="right">                           
  <article><%= image_tag "gallery/wedding.jpg", height: '500', width: '600' %>I am absolute positioned</article>
</section> 

<section id="home" data-type="background" data-speed="10">                           
  <article><%= image_tag "gallery/we.jpg", height: '500', width: '600' %>I am absolute positioned</article>
</section> 

<section id="home" data-type="background" data-speed="10">                           
  <article><%= image_tag "gallery/mypic.jpg", height: '500', width: '600' %>I am absolute positioned</article>
</section>   
