<section id="home" data-type="background" data-speed="10">                           
  <article><%= image_tag "jerry.png" %>I am absolute positioned</article>
</section> 

<section id="home" data-type="background" data-speed="10">                           
  <article><%= image_tag "nepalaone.jpeg" %>I am absolute positioned</article>
</section> 

<section id="home" data-type="background" data-speed="10">                           
  <article><%= image_tag "grocery.jpeg" %>I am absolute positioned</article>
</section> 

<section id="home" data-type="background" data-speed="10">                           
  <article><%= image_tag "rabbit.jpeg" %>I am absolute positioned</article>
</section>   
