<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome To MyPage!</div>
      <div class="intro-heading">It's Nice To Meet You</div>
      <a href="/about" class="page-scroll btn btn-xl">Tell Me More</a>
    </div>
  </div>
</header>

    <!-- I am Sabina Shrestha. I am from Nepal. My hobbies are dancing, drawing pictures. 
    I came America last year in December. I live with my husband here. 
    I watch --> <!-- cartoons alot. I like colors and colorfull things. 
    


  </p> -->




  

