
<section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Social Network</h2>
                    <h3 class="section-subheading text-muted">Github, Facebook, LinkedIn</h3>
                </div>
            </div>
            <div class="row">
                <div align="center" class="col-xs-6 col-xs-offset-3">
                    <div class="team-member">
                        <%= image_tag "me.jpg", class: "img-responsive img-circle" %>
                        <h4>Sabina Shrestha</h4>
                        <br>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://github.com/SabinaShrestha"><i class="fa fa-github"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/sabina.shrestha.7315720"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/pub/sabina-shrestha/ab/407/17"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Social sites are amazing place to contact old friends and make new friends. I love social sites.
                    </p>
                </div>
            </div>
        </div>
    </section>
